.nav-bar {
    background-color: violet;
}
.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.nav-list-items {
    text-decoration: none;
    color: black;
    cursor: pointer;
}